<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav justify-content-center bg-blue">
        <li class="nav-item">
          <a class="nav-link navStyle" routerLink="./home" routerLinkActive="active"><i class="fa-solid fa-house"></i> Home</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link navStyle" routerLink="./poker" routerLinkActive="active">Poker</a>
        </li>

        <li class="nav-item">
          <a class="nav-link navStyle" routerLink="./campeonatos" routerLinkActive="active">Campeonatos</a>
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link navStyle" routerLink="./ranking" routerLinkActive="active">Ranking</a>
        </li>

        <li class="nav-item">
          <a class="nav-link navStyle" routerLink="./listarUser" routerLinkActive="active">Jogadores</a>
        </li>

        <li class="nav-item">
          <a class="nav-link navStyle" routerLink="./historicos" routerLinkActive="active">Historicos</a>
        </li>
        
      </ul>
    </div>
  </div>
</div>
  

  <router-outlet></router-outlet>